/* seems like each spirte is 70px wide and 80px high */
.character{
	width:70px;
	height:80px;
	display:inline-block;
	position:absolute;
	top:230px;
	left:100px;
}
#field{
	background-image: url('../images/NTuoQ.gif');
	width:60%;
	height:350px;
	position:relative;
	background-size: contain;
	border: 3px solid black;
	left: 260px;
}
*{
	color: white;
}
}
h1{
	font-size:16px;
}
body{
	font-size:12px;
}
h2{
	font-size:14px;
}
body{
	background: rgb(124,111,114);
	background: linear-gradient( rgb(0, 0, 0) 0%, rgb(71, 0, 0) 100%);
}